@import "tailwindcss";

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-transition {
  animation: fadeSlideIn 0.3s ease-out;
}

/* index.css atau App.css */
html {
  padding-right: 0 !important;
  overflow: auto !important;
}